@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Oswald:wght@200..700&family=Poetsen+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif;
}

header nav {
    background-color: #00050d;
    height: 47px;
    width: 100vw;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    justify-content: space-evenly;
    padding: 10px 120px;
}

header nav ul img {
    height: 17px;
}

header nav ul li {
    display: flex;
    align-items: center;
    color: #aaaaaa;
    list-style: none;
    font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif;
    font-size: 17px;
    cursor: pointer;
}

.menu-icon {
    display: none;
    font-size: 24px;
    color: #aaaaaa;
    cursor: pointer;
}

.menu {
    display: none;
}

.photo-container {
    background-image: url('https://m.media-amazon.com/images/G/31/AmazonVideo/2019/MLP.jpg');
    background-size: contain;
    height: 727px;
    background-repeat: no-repeat;
    background-color: #000;
}

.photo-container h1 {
    font-family: 'Amazon Ember', sans-serif;
    color: white;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 67px;
}

.photo-container p {
    color: white;
    text-align: left;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 27px;
    font-family: 'Amazon Ember', sans-serif;

}

.photo-container .usess {
    background: linear-gradient(to right, #000 37%, transparent 100%);
    height: 217px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    width: 47%;
    padding: 37px;
}

.photo-container-2 {
    background-image: url('https://m.media-amazon.com/images/G/31/AmazonVideo/2021/X-site/MLP/TVOD/TVOD_MLP_Right.jpg');
    background-size: cover;
    height: 727px;
}


.photo-container-2 img {
    width: 100vw;
}

.photo-container-2 h1 {
    font-family: 'Amazon Ember', sans-serif;
    color: white;
    font-size: 2.5rem;
    ;
    font-weight: 400;
    line-height: 67px;
}

.photo-container-2 p {
    color: white;
    text-align: left;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 27px;
    font-family: 'Amazon Ember', sans-serif;

}

.photo-container-2 .usess {
    background: linear-gradient(to right, #000 37%, transparent 100%);
    height: 217px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    width: 47%;
    padding: 37px;
}

.click button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    background-color: #0f79af;
    height: 50px;
    width: 47%;
    border-radius: 5px;
    margin-top: 37px;
    font-size: 17px;
    border: none;
}

.click a {
    color: white;
    text-decoration: none;
}

.all-channel {
    display: flex;
    background-color: white;
    padding: 14px 47px;
}

.info h1 {
    font-family: sans-serif;
    font-weight: 400;
    text-align: left;
    width: 62%;
    font-size: 44px;
    margin: 20px;
}

.info p {
    font-family: sans-serif;
    font-weight: 300;
    text-align: left;
    width: 62%;
    margin: 20px;
    font-size: 22px;
}

.channels {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
}

.channels img {
    height: 137px;
    width: 197px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.channels img:hover {
    box-shadow: -2px -2px 15px 1px black;
}

@media (max-width: 1200px) {
    main {
        display: inline;
    }

    .info h1 {
        text-align: center;
        width: auto;
    }

    .info p {
        text-align: center;
        width: auto;
    }

    .channels {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .channels img {
        height: 87px;
        width: 97px;
        margin: 0px;
        padding: 0px;
    }

    .channels {
        grid-template-columns: repeat(2, auto);
    }

}

.photo-container-3 {
    background-image: url('https://images-na.ssl-images-amazon.com/images/G/01/digital/video/Magellan_MLP/MLP_Template_Image_Left.jpg');
    background-size: cover;
    height: 727px;
}


.photo-container-3 img {
    width: 100vw;
}

.photo-container-3 h1 {
    font-family: 'Amazon Ember', sans-serif;
    color: white;
    font-size: 2.5rem;
    ;
    font-weight: 400;
    line-height: 67px;
}

.photo-container-3 p {
    color: white;
    text-align: left;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 27px;
    font-family: 'Amazon Ember', sans-serif;

}

.photo-container-3 .usess {
    float: right;
    background: linear-gradient(to right, #000 37%, transparent 100%);
    height: 217px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    width: 47%;
    padding: 37px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222222;
    padding: 12px;
}

footer ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer .copyright {
    color: #8197a4;
    padding: 14px;
}

footer .copyright:hover {
    color: #aaaaaa;
    cursor: pointer;
}

footer ul li {
    list-style: none;
    text-decoration: none;
    color: #79b8f3;
}

footer ul li:hover {
    color: #0f79af;
    cursor: pointer;
}

.credit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.credit a {
    text-decoration: none;
    color: white;
    padding-top: 7px;
    font-size: 47px;
}

.credit a :hover {
    color: rgb(125, 151, 174);
}

@media (max-width: 1024px) {

    .photo-container {
        background-image: url('https://m.media-amazon.com/images/G/31/AmazonVideo/2019/MLP._SX1440_CR575,0,865,675_QL80_AC_FP_.jpg');
        background-size: 100vw;
        background-repeat: no-repeat;
        background-color: black;
        height: 100vh;
    }

    header nav ul {
        display: none;
    }

    .menu-icon {
        display: flex;
        justify-content: flex-start;
        padding: 10px 10px 0px 10px;
        width: 100vw;
    }

    .menu-icon img {
        height: 25px;
        margin: auto;
    }

    .menu-icon .mob-ser {
        height: 25px;
        margin: auto;
    }

    .menu-icon .mob-prf {
        height: 25px;
        margin: auto;
    }

    /* ==================Making Responsive Of 1st============= */
    .photo-container h1 {
        font-family: 'Amazon Ember', sans-serif;
        color: white;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 67px;
        text-align: center;
    }

    .photo-container p {
        color: white;
        text-align: center;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 27px;

    }

    .photo-container .usess {
        background: none;
        height: 97%;
        display: flex;
        flex-direction: column;
        width: 95%;
        padding: 37px;
        justify-content: end;
    }

    .click {
        display: flex;
        justify-content: center;
    }

    /* ==================Making For secound Container===== */

    .photo-container-2 {
        background-image: url('https://m.media-amazon.com/images/G/31/AmazonVideo/2021/X-site/MLP/TVOD/TVOD_MLP_Right._SX1440_CR575,0,865,675_QL80_AC_FP_.jpg');
        background-size: 100vw;
        background-repeat: no-repeat;
        background-color: black;
        height: 129vh;
    }

    .photo-container-2 h1 {
        font-family: 'Amazon Ember', sans-serif;
        color: white;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 67px;
        text-align: center;
    }

    .photo-container-2 p {
        color: white;
        text-align: center;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 27px;

    }

    .photo-container-2 .usess {
        background: none;
        height: 97%;
        display: flex;
        flex-direction: column;
        width: 95%;
        padding: 37px;
        justify-content: end;
    }

    .photo-container-3 {
        background-image: url('https://images-na.ssl-images-amazon.com/images/G/01/digital/video/Magellan_MLP/MLP_Template_Image_Left._SX1440_CR0,0,865,675_QL80_AC_FP_.jpg');
        background-size: 100vw;
        background-repeat: no-repeat;
        background-color: black;
        height: 129vh;
    }

    .photo-container-3 h1 {
        font-family: 'Amazon Ember', sans-serif;
        color: white;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 67px;
        text-align: center;
    }

    .photo-container-3 p {
        color: white;
        text-align: center;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 27px;

    }

    .photo-container-3 .usess {
        background: none;
        height: 97%;
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 37px;
        float: none;
        justify-content: end;
    }

    .all-channel{
        flex-direction: column;
    }

    footer ul{
        flex-direction: column;
        gap: 0px;
        align-items: center;
    }

    .copyright{
        text-align: center;
    }
}

@media (max-width: 400px) {
    .menu-icon .mob-ser {
        display: none;
        height: 25px;
        margin: auto;
    }

    .menu-icon .mob-prf {
        display: none;
        height: 25px;
        margin: auto;
    }
}
